<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/main.js"></script>
  <title> Chi Siamo </title>
</head>
<body>
  <nav>
    <a href="#"></a>
    <div>
      <ul>
        <li>
          <a href="../templates/index.html">Home</a>
        </li>
        <li>
          <span>Chi Siamo</span>
        </li>
        <li>
          <a href="../templates/offers.html">Offerte</a>
        </li>
        <li>
          <a href="../templates/trips.html">Viaggi</a>
        </li>
        <li>
          <a href="../templates/subscriptions.html">Abbonamenti</a>
        </li>
        <li>
          <a href="../templates/diversity_inclusion.html">Diversità ed inclusione</a>
        </li>
      </ul>
    </div>
  </nav>
  
</body>
</html>