<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="MAX 65 CARATTERI">
  <meta name="description" content="MAX 150 CARATTERI">
  <meta name="author" content="Mang00o, Fabbricca, ElenaaaCh, Pax">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" href="/static/css/style.css">
  <script defer src="/static/js/main.js"></script>
  <title> Homepage </title>
</head>
<body>
  <nav>
    <a href="#"></a>
    <div>
      <ul>
        <li>
          <span>Home</span>
        </li>
        <li>
          <a href="../templates/about.html">Chi Siamo</a>
        </li>
        <li>
          <a href="../templates/offers.html">Offerte</a>
        </li>
        <li>
          <a href="../templates/trips.html">Viaggi</a>
        </li>
        <li>
          <a href="../templates/subscriptions.html">Abbonamenti</a>
        </li>
        <li>
          <a href="../templates/diversity_inclusion.html">Diversità ed inclusione</a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <div class="container__search-bar">
      <h2>Viaggia </h2>
      <fieldset>
        <legend>Ricerca tratta ferroviaria</legend>

        <label for="from">Partenza</label>
        <input type="text" name="from" id="from">
        <label for="to">Arrivo</label>
        <input type="text" name="to" id="to">
        <label for="date">Data</label>
        <input type="datetime" name="date" id="date">
        <label for="seats">Passeggeri</label>
        <button id="subtract" disabled>-</button>
        <input type="number" name="seats" id="seats" placeholder="1" min="1" max="20">
        <button id="add">+</button>
      </fieldset>
    </div>
    <div class="container__news">
      <section class="card">
        <header class="card__header">
          <h3></h3>
        </header>
        <div class="card__body"></div>
      </section>
    </div>
  </main>
  
</body>
</html>